<div class="container py-4">
    <h2 class="my-heading">Coming from full width content block</h2>
    <h1 class="">{{ fields.title }}s</h1>
    <div class="size-[200px] bg-yellow-100">

    </div>
</div>
