{% extends "base/base.twig" %}
{% block content %}
    <div class="container">
        <div class="border mt-20 h-5">

        </div>
        <h2 class="my-heading py-2.5">Index page</h2>
        <p class="text-pink-900 font-black text-3xl uppercase my-10">hello</p>
        {% for post in posts %}
        {% endfor %}
        {{ post.content }}
    </div>
{% endblock %}
